@layer utilities {
  .bg-theme {
    background-color: var(--color-bg);
  }

  .bg-main {
    background-color: var(--color-main-component);
  }
  
  .bg-second {
    background-color: var(--color-second-component);
  }

  .bg-third {
    background-color: var(--color-third-component);
  }

  .text-theme {
    color: var(--color-text);
  }

  .text-second {
    color: var(--color-text-second);
  }
}
