:root {
  --color-bg: #f5f5f5;
  --color-text: #2C2E47;
  --color-main-component: #5BB543;
  --color-second-component: #DAE021;
  --color-third-component: #939393;
}

.dark {
  --color-bg: #1a1a1a;
  --color-text: #ffffff;
  --color-main-component: #5BB543;
  --color-second-component: #DAE021;
  --color-third-component: #939393;
}
